body {
  display: flex;
  flex-direction: column;
}

svg {
  background-color: black;
}

circle {
  fill: white;
}

line {
  stroke: white;
  stroke-width: 8;
  stroke-linecap: round;
}

.point {
  fill: red;
}
